 @import "@components/Utils/Utils.scss";

.restart {
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 5%;
  left: 46%;
}

.scoreTitle {
  position: absolute;
  bottom: 7%;
  left: 13%;
  width: 200px;
}
.turns {
  position: absolute;
  bottom: 7%;
  right: 13%;
  width: 100px;
}
